# Основы работы с pandas

## Задачи для совместного разбора

**1.** Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sp500hst.txt', sep=',', header=None, names=["date", "ticker", "open", "high", "low", "close", "volume"])

In [ ]:
df.head()

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176

In [ ]:
df.dtypes

date        int64
ticker     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

**2.** Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

*Если индексация начинается с 0, то, к примеру, 3 по номеру столбец будет четвертым по счёту*

In [ ]:
df.iloc[:,3:7].head()

      high     low  close  volume
0  25.6100  25.220  25.55   34758
1  25.7400  25.330  25.50   22247
2  25.7000  25.225  25.34   30891
3  25.6425  25.145  25.48   33334
4  25.5700  25.230  25.54   70176

In [ ]:
df.iloc[:,3:7].mean()

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

**3.** Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
df["date"] = pd.to_datetime(df["date"], format = '%Y%m%d')
df.head()

        date ticker   open     high     low  close  volume
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176

In [ ]:
df["month"] = df["date"].dt.month
df.head()

        date ticker   open     high     low  close  volume  month
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

**1.1** В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
recipes = pd.read_csv('recipes_sample.csv')

In [ ]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN

In [ ]:
reviews = pd.read_csv('reviews_sample.csv')

In [ ]:
reviews.rename(columns={'Unnamed: 0': 'review_id'}, inplace=True)

In [ ]:
reviews.head(2)

,review_id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...

**1.2** Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

*Число строк*

In [ ]:
reviews.shape[0], recipes.shape[0]

(126696, 30000)

*Число столбцов*

In [ ]:
reviews.shape[1], recipes.shape[1]

(6, 8)

*Тип данных столбцов*

In [ ]:
reviews.dtypes

review_id     int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

In [ ]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

**1.3** Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
recipes.isna().sum()

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [ ]:
recipes.isna().sum()/recipes.shape[0]

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

In [ ]:
reviews.isna().sum()

review_id     0
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64

In [ ]:
reviews.isna().sum()/reviews.shape[0]

review_id    0.000000
user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

**1.4** Рассчитайте и выведите на экран среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
recipes[["minutes","n_steps","n_ingredients"]].mean()

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [ ]:
reviews["rating"].mean()

4.410802235271832

**1.5** Создайте и выведите на экран серию из 10 случайных названий рецептов.

In [ ]:
recipes["name"].sample(10, replace = True)

2044     baleadas  cheap  easy honduran meal
6381               chipotle honey mixed nuts
11921        german nudelsalat  noodle salad
12605                greek stuffed manicotti
29930                     zucchini cole slaw
9390                         devonshire corn
4065             buffalo chicken soup or dip
7163        classic banana bread with yogurt
23389                       sauced crab ball
22665              roast chicken and veggies
Name: name, dtype: object

**1.6** Выведите на экран строку с __номером__ `54200`. Выведите на экран строку с __индексом__ `54200`.

In [ ]:
reviews.loc[54200:54200]

,review_id,user_id,recipe_id,date,rating,review
54200,667742,813584,916,2008-08-16,5,I've made this 3-4 times already and forgot to...

In [ ]:
reviews[reviews["review_id"]==54200]

,review_id,user_id,recipe_id,date,rating,review
108134,54200,853909,51058,2008-12-30,0,Excellent recipe! My picky eaters love this. ...

**1.7** Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews["review_id"] = list(reviews.index)

In [ ]:
reviews[0:2]

,review_id,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...

**1.8** Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes[(recipes.minutes<21)&(recipes.n_ingredients<6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

**2.1** Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes["submitted"] = pd.to_datetime(recipes["submitted"])

In [ ]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

C `dtype` не получается, пробую `parse_dates`
```
recipes = pd.read_csv('recipes_sample.csv', dtype = {'submitted': 'datetime64[ns]'})
```
`TypeError: the dtype datetime64[ns] is not supported for parsing, pass this column using parse_dates instead`

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])

In [ ]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

**2.2** Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes[recipes.submitted.dt.year<2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
recipes.groupby(recipes['submitted'].dt.year<2011).count()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
submitted,,,,,,,,
False,2339,2339,2339,2339,2339,1509,2339,1655
True,27661,27661,27661,27661,27661,17301,27038,19465

### Работа со строковыми данными в `pandas`

**3.1**  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes["description_length"] = recipes["description"].str.len()

In [ ]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0

**3.2** Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes['name'] = recipes['name'].str.capitalize()

In [ ]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0

**3.3** Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes["name_word_count"] = recipes['name'].str.split().str.len()

In [ ]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8